.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  font-family: cursive;
  box-sizing: border-box;
}

.sidebar {
  min-height: 100vh;
  max-width: 25vw;
  box-sizing: border-box;
  margin: 0;
}

.sidebar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: inset;
  border-color: transparent;
  font-weight: 500;
  color: grey;
}

.sidebar-link:hover, .sidebar-link:active {
  color: purple;
  border-left: 2px solid purple!important;
  transition: ease 0.5s;
}

.sidebar-button {
  background-color: rgb(241 203 241);
  color: purple;
  font-weight: 500;
}

.sidebar-button:hover {
  border: 1px solid purple;
  color: purple;
}

.dates {
  min-height: 90%;
}

.fake-table p {
  width: 10vw;
}

.fake-head {
  border-bottom: 2px solid purple;
}

.button-menu {
  display: none;
}

.menu {
  display: block;
}

.show-menu { 
  display: block;
  width: calc(100% - 5vw);
  height: 100%;
  position: absolute;
  left: 5vw;
  top: 0;
  background-color: rgb(0 0 0 / 40%);
}

.hidden-menu {
  display: none;
}

.show-menu, .hidden-menu {
  transition: ease .5s;
}

.responsive-menu {
  background-color: white;
  height: 100%;
  width: 70%;
}

@media (max-width: 750px) {
  .button-menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .sidebar {
    width: 5vw;
  }
}